:root {
  font: 18px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: light;
  color: #101828;
  background: #f2f4f7;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
